# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# PWA Service Worker
sw.*

# Mac Crap
.DS_Store

# Environment Variables
.env

#Netlify Dev Config
.netlify
