// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

// Page Transitions

#resume.page-enter-active {
  animation: slideInBottom 1s ease-out;
}

#resume.page-leave-active {
  animation: slideOutBottom 1s ease-in;
}

#home.page-enter-active {
  animation: slideInLeft .33s;
}

#home.page-leave-active {
  animation: slideOutLeft .33s;
}

#home {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0%)
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0%)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-100%)
  }
  100% {
    transform: translateX(0%)
  }
}

@keyframes slideOutBottom {
  0% {
    transform: translateY(0%)
  }
  100% {
    transform: translateY(100%)
  }
}
