// Import Vuetify styling
@require '~vuetify/src/stylus/app.styl'

// Rando

.paper {
  margin: 0 auto; padding: 1cm;
}

@media (max-width: 500px) {
  .paper {
    padding: 10px;
  }
}

// Page Transitions

#resume.page-enter-active {
  animation: slideInBottom .5s ease-out;
}

#resume.page-leave-active {
  animation: slideOutBottom .5s ease-in;
}

#home.page-enter-active {
  animation: slideInLeft .25s;
}

#home.page-leave-active {
  animation: slideOutLeft .25s;
}

#home {
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.25);
}

@keyframes slideInBottom {
  0% {
    transform: translateY(100%)
  }
  100% {
    transform: translateY(0%)
  }
}

@keyframes slideOutLeft {
  0% {
    transform: translateX(0%)
  }
  100% {
    transform: translateX(-50%)
    opacity: 0;
  }
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%)
    opacity: 0;
  }
  100% {
    transform: translateX(0%)
  }
}

@keyframes slideOutBottom {
  0% {
    transform: translateY(0%)
  }
  100% {
    transform: translateY(100%)
  }
}
