/* Stock Shape Separators */

.bottom {
  &-curve {
    -webkit-clip-path: ellipse(100% 60% at 50% 40%);
    clip-path: ellipse(100% 60% at 50% 40%);
  }

  &-arrow {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 100%, 0 90%);

    &-left {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 25% 100%, 0 80%);
    }

    &-right {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 100%, 0 80%);
      clip-path: polygon(0 0, 100% 0, 100% 80%, 75% 100%, 0 80%);
    }
  }

  &-lean {
    &-left {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
      clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    }

    &-right {
      -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0 92%);
    }
  }
}

.slope {
  &-clockwise {
    -webkit-clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
    clip-path: polygon(0 0, 100% 8%, 100% 100%, 0 92%);
  }

  &-counter-clockwise {
    -webkit-clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
    clip-path: polygon(0 8%, 100% 0, 100% 92%, 0 100%);
  }
}
